//
   Created by FIONA on 2016/10/26/026.

doctype html
html
    head
        title #{titleContent}
        meta(charset='utf-8')
        include ./include/head
    body
        .container
            include ./include/nav
            block pageContent
