//
   Created by FIONA on 2016/10/26/026.

nav.navbar.navbar-default(style="margin-bottom:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;border-bottom-width:0px;")
    .navbar-header
        a.navbar-brand(href='/') 同学聚会相册
    a.btn.btn-success.pull-right(style='margin-top:6px;' href='/upload') 上传照片
